*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: gilroy;
}
.left{
    width: 50%;
    height: 100%;
    background-color:rgb(250, 197, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-box{
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(58, 58, 58, 0.719);
    position: relative;
    display: flex;
    align-items: center;
}
.minion{
    width: 62%;
    height: 100%;
}
.left-box .minion > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.left-box > .text{
    width: 60%;
    position: absolute;
    bottom: 20%;
    right: 15px;
    text-align: right;
}
.text > h1{
    font-size:55px;
    color:rgb(250, 197, 28);
    text-shadow: 0px 2px 5px rgba(231, 194, 74, 0.422);
}
.text > p{
    font-size:17px;
    margin-top:22px;
    font-weight:600;
}
.left-box > button{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px 40px;
    font-size: 20px;
    border-radius: 50px;
    border:none;
    background-color: rgb(40, 50, 78);
    color: white;
    font-family: 'Lucida Sans';
    box-shadow: 0px 10px 20px rgba(85, 85, 85, 0.58);
}
.right{
    width: 50%;
    height: 100%;
    background-color: rgb(147, 101, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-box{
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(58, 58, 58, 0.719);
    position: relative;
    display: flex;
}
.right-box > img{
    width: 36%;
    height: 100%;
    object-fit: cover;
    object-position:left;
    transform: translateX(178%);
}
.right-box .text2{
    width: 35%;
    position: absolute;
    bottom: 20%;
    left: 15px;
    text-align: left;
}
.text2 > h1{
    font-size:55px;
    color:rgb(147, 101, 184);
    text-shadow: 0px 2px 5px rgba(123, 85, 154, 0.422);
}
.text2 > p{
    font-size:17px;
    margin-top:40px;
    font-weight:600;
}
.right-box > button{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px 40px;
    font-size: 20px;
    border-radius: 50px;
    border:none;
    background-color: rgb(40, 50, 78);
    color: white;
    font-family: 'Lucida Sans';
    box-shadow: 0px 10px 20px rgba(85, 85, 85, 0.58);
}